@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>Learn about <a href="@Model.AboutUrl">building Web apps with ASP.NET Core</a>.</p>
</div>