**/obj/
**/bin/
**/*.lock.json
**/*.TMP
**/*.DotSettings.user
**/*.csproj.user
**/*.log
benchmarks/data/*.log
benchmarks/data/results/*.md
*.suo
.vs/
*.user
_ReSharper.Caches/
.idea
.logs
.packages
/src/Pure.DI.Core/Pure.DI.xml

# Unity
/samples/UnityApp/Library
/samples/UnityApp/UserSettings
/samples/UnityApp/Temp
/samples/UnityApp/*.csproj
/samples/UnityApp/*.sln
