**/obj/
**/bin/
**/*.lock.json
**/*.TMP
**/*.DotSettings.user
**/*.csproj.user
**/*.log
benchmarks/data/*.log
benchmarks/data/results/*.csv
benchmarks/data/results/*.md
*.suo
.vs/
*.user
_ReSharper.Caches/
.idea
.logs
.packages

