/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-mlbnw1yqhz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mlbnw1yqhz] {
    flex: 1;
}

.top-row[b-mlbnw1yqhz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
