<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="netstandard" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".md" #>

<#
    var currentPath = Host.ResolvePath("");
    var solutionPath = Path.Combine(currentPath, "..");

    var infos = new List<Dictionary<string, string>>();
    foreach(var file in Directory.GetFiles(currentPath, "*.cs"))
    {
        var isBody = false;
        var vars = new Dictionary<string, string>();
        var body = new List<string>();
        int? offset = null;
        foreach(var line in File.ReadAllLines(file))
        {
            var source = file.Replace(System.IO.Path.GetFullPath(solutionPath), "").Replace("\\", "/");
            source = source.Substring(1, source.Length - 1);
            if (vars.Count == 0)
            {
                vars["visible"] = "false";
                vars["tag"] = string.Empty;
                vars["priority"] = string.Empty;
                vars["description"] = string.Empty;
                vars["header"] = string.Empty;
                vars["footer"] = string.Empty;
                vars["file"] = file;
                vars["source"] = source;
                infos.Add(vars);
            }

            var str = line.Trim();
            switch (str)
            {
                case "// {":
                    isBody = true;
                    continue;
                
                case "// }":
                    isBody = false;
                    continue;
            }

            if (str.StartsWith("// $"))
            {
                var parts = str.Substring(4, str.Length - 4).Split(new []{'='}, 2, StringSplitOptions.RemoveEmptyEntries);
                if (parts.Length == 2)
                {
                    var key = parts[0];
                    if (key is "header" or "footer")
                    {
                        var curVar = vars[key];
                        if (curVar != string.Empty)
                        {
                            curVar += "\n";
                        }

                        vars[key] = curVar + parts[1];
                    }
                    else
                    {
                        vars[key] = parts[1];
                    }
                }

                continue;
            }

            if (isBody)
            {
                if (!string.IsNullOrWhiteSpace(line))
                {
                    var curOffset = line.Length - line.TrimStart().Length;
                    if (curOffset < (offset ?? int.MaxValue))
                    {
                        offset = curOffset;
                    }
                }

                body.Add(line);
            }
        }

        offset ??= 0;
        var content =
            from line in body
            select line.Length > offset ? line.Substring(offset.Value, line.Length - offset.Value) : line.Trim();
            
        vars["body"] = string.Join(Environment.NewLine, content) + Environment.NewLine;
    }#>
## Usage Scenarios

<#
    foreach(var group in infos.Where(info => info["visible"] == "true").GroupBy(i => i["tag"]).OrderBy(i => i.Key[0]))
    {
        var groupName = group.Key.Substring(1).Trim();
    #>- <#=groupName#>
<#
        foreach(var info in group.OrderBy(i => i["priority"] + "_" + i["description"]))
        {
            var description = info["description"];
            var reference = "#"+ 
                            description.Replace(" ", "-")
                                .Replace("'", string.Empty)
                                .Replace("/", string.Empty)
                                .Replace("`", string.Empty)
                                .Replace("\\", string.Empty)
                                .ToLowerInvariant();
#>  - [<#=description#>](<#=reference#>)
<#
        }
    }
#>

<#
    foreach(var info in infos.OrderBy(i => i["tag"] + i["priority"]).Where(info => info["visible"] == "true"))
    {
#>### <#=info["description"]#>

[![CSharp](https://img.shields.io/badge/C%23-code-blue.svg)](<#=info["source"]#>)

<#=info["header"]#>

``` CSharp
<#=info["body"]#>```

<#=info["footer"]#>

<#
    }

    var readmeBodyFile = Path.Combine(solutionPath, "README_BODY.md");
    var readmeFile = Path.Combine(solutionPath, "README.md");
    var samplesFile = Path.Combine(currentPath, "README_TEMPLATE.md");
    
    File.Copy(readmeBodyFile, readmeFile, true);

    var samplesContent = File.ReadAllText(samplesFile);
    File.AppendAllText(readmeFile, samplesContent);    
#>
