@page "/counter"
@using WeatherForecast
@inject ICounterService CounterService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    long _count;

    protected override void OnInitialized()
    {
        _count = CounterService.Count;
        base.OnInitialized();
    }

    private void IncrementCount() => 
        _count = CounterService.IncrementCount();
}