@page "/"
@using System.ComponentModel
@using Clock
@inject IAppViewModel App
@inject IClockViewModel Clock

<PageTitle>@App.Title</PageTitle>

<div class="text-center">
    <h1 style="font-size:64px">@Clock.Date</h1>
    <h1 style="font-size:128px">@Clock.Time</h1>
</div>

@code {
    protected override void OnInitialized()
    {
        ((INotifyPropertyChanged)Clock).PropertyChanged += (_, _) => StateHasChanged();
        base.OnInitialized();
    }
}