@page "/"
@using System.ComponentModel
@using Clock.ViewModels
@inject IClockViewModel ClockViewModel

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your Pure.DI Blazor WebAssembly example.

<hr/>

<p>Date: @ClockViewModel.Date</p>
<p>Time: @ClockViewModel.Time</p>

<hr/>

<img src="https://github.com/DevTeam/Pure.DI/blob/master/readme/di.gif?raw=true" alt="Pure.DI" width="800"/>

@code {
    protected override void OnInitialized()
    {
        ((INotifyPropertyChanged)ClockViewModel).PropertyChanged += (_, _) => StateHasChanged();
        base.OnInitialized();
    }
}
