@inherits LayoutComponentBase
@using System.ComponentModel
@using Clock
@inject IAppViewModel App

<div class="page">
    <div class="top-row ps-3">
        <div class="container-fluid">@App.Title</div>
    </div>

    <main>
        @Body
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        ((INotifyPropertyChanged)App).PropertyChanged += (_, _) => StateHasChanged();
        base.OnInitialized();
    }
}