@page "/"
@using Clock.ViewModels
@inject IClockViewModel ClockViewModel

<p>Date: @ClockViewModel.Date</p>
<p>Time: @ClockViewModel.Time</p>

@code {

    protected override void OnInitialized()
    {
        ((INotifyPropertyChanged)ClockViewModel).PropertyChanged += (_, _) => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }

}