@page "/"
@using global::Clock.ViewModels
@using System.ComponentModel
@inject IClockViewModel _clockViewModel

<p>Date: @_clockViewModel.Date</p>
<p>Time: @_clockViewModel.Time</p>

@code {                             
    protected override void OnInitialized()
    {
        ((INotifyPropertyChanged)_clockViewModel).PropertyChanged += (_, _) => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }
}
