@page "/"
@using Clock.ViewModels
@using System.ComponentModel
@inject IClockViewModel ClockViewModel

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your Pure.DI Blazor server example.

<hr/>

<p>Date: @ClockViewModel.Date</p>
<p>Time: @ClockViewModel.Time</p>

@code {                             
    protected override void OnInitialized()
    {
        ((INotifyPropertyChanged)ClockViewModel).PropertyChanged += (_, _) => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }
}