name: Pure.DI check

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Build and test
        run: dotnet run --project ./build -- check

  test-examples:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Test examples
        run: dotnet run --project ./build -- te
        
#  benchmarks:

#    runs-on: ubuntu-latest

#    steps:
#      - uses: actions/checkout@v4

#      - name: Setup dotnet
#        uses: actions/setup-dotnet@v3
#        with:
#          dotnet-version: '10.0.x'
          
#      - name: Clean 
#        run: rm -rf benchmarks/data

#      - name: Benchmarks
#        run: dotnet run --project ./build -- benchmarks
        
#      - name: Archive production artifacts
#        uses: actions/upload-artifact@v4
#        with:
#          name: benchmarks
#          path: |
#            .logs/*.html

  deploy-examples:

    if: ${{ github.event_name != 'pull_request' }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Publish Blazor example
        if: ${{ github.ref == 'refs/heads/master' }}
        run: dotnet run --project ./build -- publish

      - name: Commit wwwroot to GitHub Pages
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: samples/BlazorWebAssemblyApp/bin/wwwroot